<div>
  <h3>Players selection: </h3>
  <div cdkDropListGroup>
    <div class="example-container" *ngIf="availablePlayers">
      <h4>All players</h4>
      <div
        cdkDropList
        [cdkDropListData]="availablePlayers"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of availablePlayers" cdkDrag>{{item.firstname + ' ' + item.lastname}}</div>
      </div>
    </div>

    <div class="example-container">
      <h4>Selected players</h4>
      <div
        cdkDropList
        [cdkDropListData]="selectedPlayers"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of selectedPlayers" cdkDrag>{{item.firstname + ' ' + item.lastname}}</div>
      </div>
    </div>
  </div>
</div>
