.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.btn-right {
  margin-left: 10px;
}

.right-column-form {
  max-width: 800px;
}

.div-btn {
  width: 100%;
  margin-top: 50px;
}

