<form [formGroup]="teamForm" (ngSubmit)="saveTeam(teamForm.value)">
  <mat-form-field class="full-width">
    <input
      matInput
      id="name"
      placeholder="Team name"
      formControlName="name"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <app-file-uploader [fileDestination]="BucketDestinationRef.AVATARS">
    <app-image [imgSrc]="imgSrc$"></app-image>
  </app-file-uploader>
  <div class="div-btn" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!teamForm.valid"
    >
      Save
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn-right"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
