.dropzone {
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.uploadfilecontainer {
  min-height: 25px;
  min-width: 25px;
  margin: 20px auto;
  border: 2px dashed #1c8adb;
  border-radius: 10px;
}
